{
    "project": {
        "name": "diffusion-shared-autonomy",
        "mount": [],
        "exclude": [".git", ".env", ".venv", "Pipfile", "wandb", "*.mp4", "*.egg-info", "__pycache__", ".output", "*.tar.gz", "data-dir", "__pypackages__", ".DS_Store", "slides"],  // ".png"
    },
    "machines": {
        "birch": {
            "docker": {
                "image": "ripl/diffusion-for-shared-autonomy",
                "group_id": 4000,  // ripl
            },
            "mount_from_host": {
                "/ripl/user/projects/diffusion-shared-autonomy": "/data",
                "/ripl/user/projects/d4rl": "/d4rl",
                "/dev/shm": "/dev/shm",
            },
        },
        "elm": {
            "docker": {
                "image": "ripl/diffusion-for-shared-autonomy",
                "group_id": 4000,  // ripl
            },
            "mount_from_host": {
                "/ripl/user/projects/diffusion-shared-autonomy": "/data",
                "/ripl/user/projects/d4rl": "/d4rl",
                "/dev/shm": "/dev/shm",
            },
        },
        "tticslurm": {
            "mode": "slurm-sing",
            "mount": [],
            "mount_from_host": {
                "/share/data/ripl-takuma/projects/diffusion-shared-autonomy": "/data",
            },
            "singularity": {
                "sif_file": "/share/data/ripl-takuma/singularity-workspace/diffusha/diffusion-for-shared-autonomy",
                // "overlay": "/share/data/ripl-takuma/singularity-workspace/block_pose_est/overlay.img",
                "writable_tmpfs": true,
            }
        },
    }
}
